# http://nedbatchelder.com/code/coverage/config.html

[report]
include = dataviso_sequencer/*
omit = dataviso_sequencer/example_project/*

exclude_lines =
    # Don't complain if non-runnable code isn't run:
    if __name__ == "__main__":