# +------------------------------------------+
# |           Package requirements           |
# +------------------------------------------+
coverage
nose
tox
flake8
setuptools>=15
wheel
pypandoc
Django>=1.8.4,<1.9
requests>=2.6.0,<3.0
tldextract
arrow
-e git+git://github.com/illagrenan/misc-filename-utils.git#egg=misc-filename-utils

# +------------------------------------------+
# |     Package development requirements     |
# +------------------------------------------+
fabric
